
/**
 * Make Mini Panels of the carousel style usable on the "edit content" page.
 */
ul.jcarousel {
	height: auto !important;
}

ul.jcarousel li.jcarousel-item div.panel-pane {
	border: none !important;
	background: transparent !important;
	margin: 0 !important;
}
